/* use box-sizing */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 105px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--midnight-blue: #2c3e50;
	--wet-asphalt: #34495e;
	--wet-asphalt-darker: #092234;
	--wet-asphalt-lighter: #60748b;
	--font-color: #ecf0f1;
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: var(--midnight-blue);
	color: var(--font-color);
}

/* -----------HEADER----------- */
header {
	text-align: center;
	text-shadow: 2px 2px 4px black;

	padding-top: 60px;
	padding-bottom: 60px;

	background: rgb(52, 73, 94);
	background: radial-gradient(
		circle,
		rgba(52, 73, 94, 1) 0%,
		rgba(38, 50, 56, 1) 100%
	);
}

.title,
.subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: lighter;
}

.title {
	font-size: 8em;
}

.subtitle {
	font-size: 3.8em;
}
/* -----------ENDOF HEADER----------- */

/* -----------NAV BAR----------- */
nav {
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	background-color: var(--wet-asphalt-darker);
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: 1px solid var(--font-color);
	border-bottom: 1px solid var(--font-color);
}

nav ul li {
	text-align: center;
	flex: 25%;
	border-right: 1px solid var(--font-color);
}

nav ul li:last-child {
	border-right: none;
}

nav ul li a {
	display: block;
	color: var(--font-color);
	text-decoration: none;
	font-size: 2em;
	padding-top: 30px;
	padding-bottom: 30px;
}

nav ul li a:hover,
.active {
	background-color: var(--wet-asphalt-lighter);
	color: var(--wet-asphalt-darker);
}

/* -----------ENDOF NAV BAR----------- */

/* -----------ARTICLE----------- */
.articles-flex-container {
	display: flex;
}

.about-me-article {
	flex: 25%;
}

.skills-article {
	flex: 75%;
}

p {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	font-size: 18px;
}

.article-title {
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
}
/* -----------ENDOF ARTICLE----------- */

/* -----------SKILLS----------- */
.skill-flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.skill-title {
	text-align: center;
	flex: 0 0 15%;
}

.skill-container {
	flex: 0 0 80%;
	margin-right: 5%;
	background-color: var(--wet-asphalt-lighter);
	height: 20px;
	border-radius: 25px;
	transition-duration: 1s;
}

.skills {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
}

.unity {
	width: 100%;
	background-color: var(--wet-asphalt-darker);
}

.csharp {
	width: 95%;
	background-color: var(--wet-asphalt-darker);
}

.gameplay {
	width: 90%;
	background-color: var(--wet-asphalt-darker);
}

.git {
	width: 80%;
	background-color: var(--wet-asphalt-darker);
}

.html {
	width: 90%;
	background-color: var(--wet-asphalt-darker);
}

.css {
	width: 90%;
	background-color: var(--wet-asphalt-darker);
}

.js {
	width: 80%;
	background-color: var(--wet-asphalt-darker);
}

.java {
	width: 90%;
	background-color: var(--wet-asphalt-darker);
}

.cpp {
	width: 80%;
	background-color: var(--wet-asphalt-darker);
}
/* -----------ENDOF SKILLS----------- */

.vertical-divider {
	border-width: 0;
	border-right: 1px dashed var(--font-color);
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.horizontal-divider {
	width: 100%;
	border-width: 0;
	border-top: 1px solid var(--font-color);
	margin-top: 0;
	margin-bottom: 10px;
}

/* -----------PROJECTS----------- */
.projects {
	display: flex;
	margin-bottom: 10px;
}

.project-container {
	flex: 30%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
	padding-bottom: 20px;
	background-color: var(--wet-asphalt);
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
	transition-duration: 1s;
}

.project-container:hover {
	box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
}
/* -----------ENDOF PROJECTS----------- */

/* -----------CONTACT----------- */
.contact {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.icon {
	font-size: 24px;
	padding: 20px;
	margin: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	text-decoration: none;
	color: var(--font-color);
	background-color: var(--wet-asphalt-darker);
	transition-duration: 0.5s;
}

.icon:hover {
	font-size: 36px;
	border-radius: 25%;
	color: var(--wet-asphalt-darker);
	background-color: var(--wet-asphalt-lighter);
}
/* -----------ENDOF CONTACT----------- */

.add-top-margin {
	margin-top: 10px;
}

@media (max-width: 700px) {
	html{
		scroll-padding-top: 60px;
	}

	.title {
		font-size: 18vw;
	}

	.subtitle {
		font-size: 8.5vw;
	}

	nav ul li a {
		color: var(--font-color);
		text-decoration: none;
		font-size: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.skill-title {
		font-size: 2.5vw;
	}

	.articles-flex-container {
		flex-direction: column;
	}

	.vertical-divider {
		width: 100%;
		border-top: 1px solid var(--font-color);
		margin-top: 10px;
	}

	.projects {
		flex-direction: column;
		margin-bottom: 0;
	}

	.project-container {
		margin-bottom: 10px;
	}
}
