/* use box-sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
}

header {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-family: "Courier New", Courier, monospace;

	padding-top: 60px;
	padding-bottom: 60px;

	background-color: rgb(
		184,
		255,
		184
	); /* For browsers that do not support gradients */
	background-image: linear-gradient(
		to bottom right,
		rgb(91, 255, 91),
		transparent
	);

	border-bottom: 10px solid black;
}

.title,
.subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	font-size: 3.7em;
}
